<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ElectronicHealthCard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-1">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>       
        </div>
        <div class="nav-item px-1">
            <a class="nav-link">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Patients
            </a>
            <ul class="mt-1">
                <li>
                    <NavLink class="nav-link" href="patientForm">
                        <span class="oi oi-plus"></span> Add
                    </NavLink>
				</li>
				<li>
                    <NavLink class="nav-link" href="patients">
                        <span class="oi oi-magnifying-glass"></span> Search
                    </NavLink>
                </li>
            </ul>  
        </div>
		<div class="nav-item px-1">
			<a class="nav-link">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Hospitals
			</a>
			<ul class="mt-1">
				<li>
					<NavLink class="nav-link" href="hospitalForm">
						<span class="oi oi-plus" aria-hidden="true"></span> Add
					</NavLink>
				</li>
				<li>
					<NavLink class="nav-link" href="hospitals">
						<span class="oi oi-list-rich" aria-hidden="true"></span> List of hospitals
					</NavLink>
				</li>
			</ul>
		</div>
		<div class="nav-item px-1">
			<a class="nav-link">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Records
			</a>
			<ul class="mt-1">
				<li>
					<NavLink class="nav-link" href="recordForm">
						<span class="oi oi-plus" aria-hidden="true"></span> Add
					</NavLink>
				</li>
				<li>
					<NavLink class="nav-link" href="records">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Search by ID
					</NavLink>
				</li>
				<li>
					<NavLink class="nav-link" href="recordsByName">
						<span class="oi oi-list-rich" aria-hidden="true"></span> Search by Name
					</NavLink>
				</li>				
				<li>
					<NavLink class="nav-link" href="recordEnd">
						<span class="oi oi-x" aria-hidden="true"></span> Quit
					</NavLink>
				</li>				
			</ul>
		</div>
		<div class="nav-item px-1">
			<NavLink class="nav-link" href="dataGenerator">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Generate data
			</NavLink>
		</div>
	</nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
