@page "/"
@inject PatientsController patients

<PageTitle>ElectronicHelathCard</PageTitle>

<h3 class="mt-2">File type</h3>
<hr />
@if (fileType == null)
{    
    <button type="submit" class="btn btn-primary" @onclick='(() => {
            this.fileType = "Static";
        })'>
        Static file
    </button>
    <button type="submit" class="btn btn-primary" @onclick='(() => {
            this.fileType = "Dynamic";
        })'>
        >
        Dynamic file
    </button>
}
@if (this.fileType != null)
{
    <h5 class="mt-2">Selected file type is: @fileType</h5>
}

@if (!dataGenerated && fileType != null)
{
    <h3 class="mt-2">Data</h3>
    <hr />
    <button type="submit" class="btn btn-primary" @onclick='(() => {
            if(this.fileType == "Static"){
                patients.Patients = new StaticFile<Patient>(5,"StaticData.dat");
            } else {
                patients.Patients = new DynamicFile<Patient>(5,"DynamicData.dat");
            }
            this.dataGenerated = true;
        })'>
        >
        New
    </button>
    <button type="submit" class="btn btn-primary">
        Load
    </button>
}
@if (dataGenerated && fileType != null)
{
    <h3 class="mt-2">Data</h3>
    <hr />
    <button type="submit" class="btn btn-primary">
        Delete
    </button>
}

@if (Message != null)
{
    <p>@Message</p>
}


@code
{
    string? Message = null;
    string? fileType = null;
    bool dataGenerated = false;
}