@page "/"

<PageTitle>ElectronicHelathCard</PageTitle>

<h3 class="mt-2">Select structure</h3>
<hr />
<h5>Selected Country is: @selectedString</h5>
<select class="form-control" @onchange="@OnSelect" style="width:150px">
    @foreach (var template in templates)
    {
        <option value=@template>@template</option>
    }
</select>

<h3 class="mt-2">Delete data</h3>
<hr />
<button type="submit" class="btn btn-primary">
    Delete
</button>

@if (Message != null)
{
    <p>@Message</p>
}


@code
{
    private string Message = null;
    List<string> templates = new List<string>() { "Static", "Dynamic"};
    string selectedString = "Static";

    void OnSelect(ChangeEventArgs e)
    {
        selectedString = e.Value.ToString();
        Console.WriteLine("The selected country is : " + selectedString);
    }
}