@page "/hospitalForm"
@inject HospitalsController hospitalController
@inject NavigationManager navigatorManager

<PageTitle>AddHospital</PageTitle>

<EditForm Model="@Hospital" OnValidSubmit="@FormSubmit">
    <DataAnnotationsValidator />
    <h3>Add Hospital</h3>
    <hr />
    <div class="form-group">
        <label for="name">
            Name
        </label>
        <div>
            <InputText id="name" class="form-control" placeholder="Name"
                       @bind-Value="Hospital.Name" />
            <ValidationMessage For="@(() => Hospital.Name)" />
        </div>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">
            Add
        </button>
    </div>
    @if (Message != null)
    {
        <p>@Message</p>
    }
</EditForm>

@code {
    public Hospital Hospital { get; set; } = new Hospital();
    public string Message { get; set; } = null;

    public void FormSubmit(){
        if (hospitalController.AddHospital(this.Hospital))
        {
            Message = "Successfuly added!";
        }
        else
        {
            Message = "Hospital already exists!";
        }
    }
}