@page "/hospitals"
@inject HospitalsController hospitalsController
@inject NavigationManager navigatorManager

<PageTitle>Hospitals</PageTitle>

<h3>Hospitals</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th style="width:40px"></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (hospitalsController.GetCount() > 0)
        {
            var number = 1;
            @while (this.HospitalIterator.HasNext())
            {
                var hospital = this.HospitalIterator.MoveNext();               
                <tr>
                    <th>@number</th>
                    <td>@hospital.Name</td>
                </tr>
                number++;
            }
        }
    </tbody>
</table>

@code {
    private Iterator<Hospital> HospitalIterator;

    #region Overrides of ComponentBase

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.HospitalIterator = this.hospitalsController.GetHospitals();        
    }

    #endregion
}
