@page "/hospitals"
@inject HospitalsController hospitalsController
@inject NavigationManager navigatorManager

<PageTitle>Hospitals</PageTitle>

<h3>Hospitals</h3>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (hospitalsController.GetCount() > 0)
        {
            @while (this.HospitalIterator.HasNext())
            {
                var hospital = this.HospitalIterator.MoveNext();
                        <tr>
                            <td>@hospital.Name</td>                         
                        </tr>
            }
        }
        else
        {
                <tr>
                    No such data!
                </tr>
        }
    </tbody>
</table>

@code {
    private Iterator<Hospital> HospitalIterator;

    #region Overrides of ComponentBase

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.HospitalIterator = this.hospitalsController.GetHospitals();        
    }

    #endregion
}
